/*
 * SCSS variables for the Team++ website
 * @file     _vars.scss
 * @author   Lukas Bestle <http://lu-x.me>
 * @created  28.03.2013 22:09
 * @updated  16.07.2013 12:50
 */

// Font sizes
$base-font-size:   16px;
$extr-font-size:   17px;

// Colors
$back-color:       white;
$brand-color-dark: darken($brand-color, 25);