/*
 * Responsive design stuffz
 * @file     responsive.scss
 * @author   Lukas Bestle <http://lu-x.me>
 */

// Episode previews are too small
@media screen and (max-width: 1150px) {
	.episode.float {
		img {
			width: 25% !important;
		}
	}
}

// Sidebar is too narrow
@media screen and (max-width: 900px) {
	aside {
		width: 200px;
	}
	section.main {
		margin-left: 250px;
	}
}

// Sidebar takes up too much space
// Episode images are too small
// The feed button should not stay at the top
@media screen and (max-width: 730px) {
	.center {
		display: block !important;
	}
	
	aside {
		position: static;
		width: auto;
		text-align: center;
		
		.logo {
			display: none;
		}
	}
	
	section.main {
		margin-left: 0;
	}
	
	.episode img {
		float: none !important;
		width: 100%;
		height: auto;
	}
	
	.episode.float {
		img {
			width: 49% !important;
		}
	}
	
	.feed {
		position: absolute !important;
	}
}