/*
 * Responsive design stuffz
 * @file     responsive.scss
 * @author   Lukas Bestle <http://lu-x.me>
 */

// Space between sidebar and content is too big
@media screen and (min-width: 1300px) {
	section.main {
		margin-left: 220px;
	}
}

// Episode previews are too small
// Sidebar donate buttons are too wide
@media screen and (max-width: 1150px) {
	.episode.float {
		img {
			width: 25% !important;
		}
	}
	
	.donate {
		* {
			float: none !important;
			margin: auto;
		}
		
		iframe {
			margin-left: 45px;
		}
		form {
			margin-left: 23px !important;
		}
	}
}

// Sidebar is too narrow
@media screen and (max-width: 900px) {
	aside {
		width: 180px;
	}
	section.main {
		margin-left: 220px;
	}
}

// Sidebar takes up too much space
// Episode images are too small
// The feed button should not stay at the top
@media screen and (max-width: 730px) {
	.center {
		display: block !important;
	}
	
	aside {
		position: static;
		width: auto;
		max-width: none;
		text-align: center;
		
		.logo {
			display: none;
		}
	}
	
	section.main {
		margin-left: 0;
	}
	
	.episode img {
		float: none !important;
		width: 100%;
		height: auto;
	}
	
	.episode.float {
		img {
			width: 49% !important;
		}
	}
	
	.infos img {
		width: auto;
	}
	
	.feed {
		position: absolute !important;
	}
}
